/* Dine styles her */
form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
  gap: 1rem;
  display: grid;
}

label,
input,
textarea,
select,
button {
  display: block;
}

.form-felt {
  display: grid;
  gap: 3px;
}

button {
  padding: 0.5rem;
}
